body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0 8%;
    background-color: black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    color: #fff;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
}

nav a {
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
}

#hrnav {
    border: 1px solid #cccccc89;
    margin: 0 0 15px 0;
}

nav ul
{
    margin-bottom: 0;
}

nav ul li
{
    list-style: none;
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 15px  15px 0 0;
    
}

nav ul li:hover
{
    background-color: rgba(255, 255, 255, 0.389);
}

nav ul li a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

hr 
{
    border: 1px solid #cccccc89;
    margin: 0 0 15px 0;
}

#grid_wrapper > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid_wrapper > div > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.grid_wrapper
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
    display: inline-block;
}

.grid_wrapper .wide
{
    grid-column: span 2;
}

.grid_wrapper .tall
{
    grid-row: span 2;
}

.grid_wrapper .big
{
    grid-column: span 2;
    grid-row: span 2;
}

#big1
{
    grid-column: span 2;
    grid-row: span 2;
}

#tall
{
    grid-row: span 3;
}

#big
{
    grid-row: span 2;
    grid-column: span 2;
}

#wide
{
    grid-column: span 3;
}

#wide1
{
    grid-column: span 2;
}

#projet1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projet1 p
{
    width: 60%;
    text-align: justify;
}

#projet1 a
{
    margin-right: 150px;
}

#projet1 a button
{
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 10px;
}

#projet1 a button:hover
{
    background-color: #5591b9;
}